<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="dashboard">Dashboard</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="department">Department</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="parent-category">Parent Category</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="child-category">Child Category</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="employee">Employee</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="new-ticket">New Ticket</a>
      </li>
    </ul>
    <ul list-style-type="none" class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="ticket-list">Tickets</a>
      </li>
    </ul>
    <form class="d-flex input-group w-auto">
      <button class="btn btn-outline-primary" type="button" (click)="onLogOut()">LogOut</button>
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- This is used to render the child component from router into this portion of the layout -->